.container{
    background-color:darkolivegreen;
    min-height: 100vh;
    padding: 128px;
}

.content{
    max-width: 500px;
}

.avatar{
    width: 250px;
    border-radius: 10%;
    box-shadow: 10px 10px 0px 0px;
    margin-bottom: 24px;
}

.name{
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 24px;
}